In [6]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import pyforest

In [7]:
train_data = pd.read_csv("Data_Train.csv")

In [8]:
train_data.head()

,Market Place,Crop Variety,Producer Min,Producer Max,Wholesale Min,Wholesale Max,Retail Min,Retail Max,Volume,Collection Date
0,Enjbara,White Teff (Quintal),0,0.0,3200,3250,3300.0,3400,Sufficient,12/10/2019
1,Debretabor Segno Gebeya,White Teff (Quintal),0,0.0,3100,3150,3200.0,3250,Under,12/10/2019
2,Woldia Gebeya,White Teff (Quintal),2691,2760.0,0,0,2760.0,2829,Sufficient,12/10/2019
3,kombolcha kebele 03 Gebeya,White Teff (Quintal),0,0.0,2940,3000,3100.0,3300,Sufficient,12/11/2019
4,Bahir Dar kebele 04,White Teff (Quintal),0,0.0,3300,3500,3450.0,3650,Sufficient,12/12/2019

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522 entries, 0 to 1521
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Market Place     1522 non-null   object
 1   Crop Variety     1522 non-null   object
 2   Producer Min     1522 non-null   int64
 3   Producer Max     1522 non-null   float64
 4   Wholesale Min    1522 non-null   int64
 5   Wholesale Max    1522 non-null   int64
 6   Retail Min       1522 non-null   float64
 7   Retail Max       1522 non-null   int64
 8   Volume           1522 non-null   object
 9   Collection Date  1522 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 119.0+ KB